In [ ]:
#MARIA ALEJANDRA MARTINEZ 
#DANIELA MENDIETA

a) Crea un programa que tome una lista de números como entrada y devuelva la suma de todos los números en la lista.

b) Escribe un programa que tome dos listas y devuelva una nueva lista que contenga todos los elementos que son comunes a ambas listas.

c) Crea un programa que tome una lista de cadenas como entrada y devuelva la longitud de la cadena más larga en la lista.

d) Escribe un programa que tome una lista de números como entrada y devuelva una nueva lista que contenga solo los números pares de la lista original.

e) Crea un programa que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga solo las cadenas que comienzan con la letra "a".

f) Escribe un programa que tome un diccionario como entrada y devuelva el valor asociado con una clave dada.

g) Crea un programa que tome una lista de diccionarios como entrada y devuelva una nueva lista que contenga solo los diccionarios que tienen una cierta clave.

h) Escribe un programa que tome un diccionario como entrada y devuelva un nuevo diccionario con las claves y los valores intercambiados.

i) Crea un programa que tome dos diccionarios como entrada y devuelva un nuevo diccionario que contenga solo los pares clave-valor que son comunes a ambos diccionarios.

j) Escribe un programa que tome un diccionario como entrada y devuelva un nuevo diccionario con las claves ordenadas alfabéticamente.

k) Escribe una función que tome dos números como entrada y devuelva su suma.

l) Crea una función que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga solo las cadenas que son más largas que una longitud dada.

m) Escribe una función que tome una cadena como entrada y devuelva True si la cadena es un palíndromo, False en caso contrario.

n) Crea una función que tome una lista de números como entrada y devuelva el promedio de todos los números en la lista.

o) Escribe una función que tome un diccionario como entrada y devuelva una lista de todas las claves en el diccionario.

p) Escribe un programa que tome una lista de números como entrada y devuelva el valor máximo en la lista.

q) Crea un programa que tome una cadena como entrada y devuelva una nueva cadena que contenga solo las vocales en la cadena original.

r) Escribe un programa que tome una lista de números como entrada y devuelva una nueva lista que contenga los valores al cuadrado de cada número en la lista original.

s) Crea un programa que tome una cadena como entrada y devuelva una nueva cadena con los caracteres en orden inverso.

t) Escribe un programa que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga la longitud de cada cadena en la lista original.

In [ ]:
##A
lista = [1, 2, 3, 4, 6, 8]
suma = sum(lista)
print(suma)

24

In [ ]:
##B
lista2 = [5, 6, 8]

print(lista + lista2)

[1, 2, 3, 4, 6, 8, 5, 6, 8]

In [ ]:
##B
lista3 = list(set(lista) & set(lista2))
print(lista3)

[8, 6]

In [ ]:
##C
meses = ["Enero","Febrero","Marzo","Abril", 'Mayo', 'Agosto']

mayor=meses[0]

for j in meses:
  if len(j)>=len(mayor):
    mayor=j
print (mayor)

Febrero

In [ ]:
##D
lista1 = [8,11,12,13,58,42]
pares1 = [n for n in lista1 if n%2== 0 ]
print(pares1)

[8, 12, 58, 42]

In [ ]:
##E
lista6 =["anon", "lulo", "fresa", "arandano"]
nueva_lista=[]
for palabra in lista6:
  if palabra.startswith("a"):
    nueva_lista.append(palabra)
print(nueva_lista)

['anon', 'arandano']

In [ ]:
##F
carpeta = {'colores':['rojo', 'verde', 'azul', 'amarillo'], 'transporte':['avion','carro', 'tren', 'barco']}
carpeta['colores']

['rojo', 'verde', 'azul', 'amarillo']

In [ ]:
##G

In [ ]:
##H
dicc = {'numero':1, 'letra':['A']}
def cambio (dicc):
  nuevo_dic = {}
  for i, j in dicc.items ():
    nuevo_dic[j] = i
  return nuevo_dic

dicc = {'letra':'A'}
nuevo = cambio(dicc)
print (nuevo)

{'A': 'letra'}

In [ ]:
##I
a = {'color1':["rojo", "azul", "lila", "fucsia"]}
b = {'color2':["verde", "naranja", "lila", "fucsia"]}
c = list(set(a['color1']) & set(b['color2']))
print(c)

['fucsia', 'lila']

In [ ]:
##J
carpeta = {'colores':['rojo', 'verde', 'azul', 'amarillo'], 'transporte':['avion','carro', 'tren', 'barco']}
new = carpeta.keys()
new = sorted(carpeta)
print(new)

['colores', 'transporte']

In [ ]:
##K
notas = [9.0, 8.0]
suma_de_notas = sum(notas)
print(suma_de_notas)

17.0

In [ ]:
##L
meses = ['Enero','Febrero','Marzo','Abril', 'Mayo', 'Junio','Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
for j in meses:
  if len(j) > 7:
    print (j)

Septiembre
Noviembre
Diciembre

In [ ]:
##M Escribe una función que tome una cadena como entrada y devuelva True si la cadena es un palíndromo, False en caso contrario.
palabra = ['reconocer']
def si_o_no(palabra):
  start = 0
  end = len (palabra) -1
  while palabra[start] == palabra[end]:
    if start >= end:
      return True
    start += 1
    end -= 1
  return False

print(si_o_no(palabra))

True

In [ ]:
##N
lista = [1,2,4,8]
promedio = sum(lista)/len(lista)
print(promedio)

3.75

In [ ]:
##O
carpeta.items()

dict_items([('colores', ['rojo', 'verde', 'azul', 'amarillo']), ('transporte', ['avion', 'carro', 'tren', 'barco'])])

In [ ]:
##P
lista = [2,4,5,12,54,68,3,34,56]
print(max(lista))

68

In [ ]:
##Q
frase = 'solucion del taller'
def vocales_frase(frase):
  taller = 'solucion taller'
  vocales = 'aeiou'
  return[i for i in frase if i in vocales]

print(vocales_frase(frase))

['o', 'u', 'i', 'o', 'e', 'a', 'e']

In [ ]:
##R
listan = [2,4,6,8]
def numeros_alcuadrado(listan):
  list_alcuadrado = []
  for n in listan:
    list_alcuadrado.append(n ** 2)
  return list_alcuadrado

print(numeros_alcuadrado(listan))

[4, 16, 36, 64]

In [ ]:
##S
taller = 'solucion taller'
def taller_inverso(taller):
  return taller [::-1]

print(taller_inverso(taller))

rellat noiculos

In [ ]:
##T Escribe un programa que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga la longitud de cada cadena en la lista original.
transporte = ['avion', 'tren','carro','barco']
def longi_de_transporte(transporte):
  longi = []

  for i in transporte:
    longi.append(len(i))
  return longi 
longi = longi_de_transporte(transporte)
print(longi)

[5, 4, 5, 5]